
#TehranMap{
    display: block;
    position: relative;
    direction: rtl;
    font-family: Tahoma;
    font-size: 11px;
    width: 90%;
    margin-top: -4%;
    
}



#TehranMap .map{
    display: block;
    width: 50%;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#TehranMap .map svg{
    
    width: 160%;
}
#TehranMap .map .border path{
    fill: #fff;
}
#TehranMap .map .teh path{
    fill: #999;
}

#TehranMap .map .teh path:hover{
    fill: #ff6600 ;
    cursor: pointer;
}

 a {
    fill:#ff6600  ;
}

a:hover{
    fill: black ;
    
}




@media(max-width: 930px){
    #TehranMap .teh{
        width: 50%;
    }
